.card-code {
    margin-top: 15%;
    color: white;
}

.container.marketing header {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.user-info {
    text-align: left;
    list-style: none;
}

.preview-btn {
    margin-right: 20px;
}