input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

[type="checkbox"]
{
    vertical-align:middle;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
     width: 250px;
     height: 100px;   
}

header p {
    font-size: 13px;
    font-weight: 500;
}

section .section1 {
    text-align: center;
    color: white;
    width: 100%;
    height: 40px;
    background-color: #16365C;
    font-size: 13px;
    font-weight: 700;
    padding: auto 0;
}

.content {
    margin-top: 0px;
    padding: 0 15px;
}

.content span.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.input-date {
    width: 25px;
    height: 25px;
    margin-right: 30px;
}

.input-no {
    width: 200px;
    height: 20px;
    text-align: center;
    border: 1px dotted;
}

.field {
    margin-top: 20px;
}

.field .type-of-order input {
    width: 20px;
    height: 20px;
}

table {
    width: 100%;
    border: 1px solid black;
}

table thead {
    background-color: black;
    color: white;
    text-align: left;
}

table p {
    font-size: 13px;
    display: inline-block;
    font-weight: 500;
}

table input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted;
    width: 80%;
}

table textarea {
    border: 1px dotted;
}

.customer-information {
    margin-top: 20px;
}

.new-page {
    margin-top: 180px;
}

.input-city {
    width: 250px;
}

.billing-address, .financial-authorized-person {
    margin-top: 20px;
}

.id-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
    margin-top: 10px;
}

/* 612px x 792px is our default size of a PDF */
.pdf {
    /* width: 612px; */
    /* height: 792px; */
    /* width: 20cm; */
    width: 8.27in;
    /* height: 1500px; */
    background-color: white;
    margin: 0 auto;
  }